/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :   Big desktop


$breakpoint argument choices:
- phone (bp-small)
- tab-port (bp-medium)
- tab-land (bp-large)
- big-desktop (bp-desktop)

ORDER: Base + typography > general layout + grid > page layout > components

1 em = 16px
*/
/*
//basic stuff for desktop first
@mixin respond($breakpoint) {

    @if $breakpoint ==bp-large {

        // 1200px
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint ==bp-medium {

        // 900px
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if $breakpoint ==bp-small {

        // 600px
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    @if $breakpoint ==bp-desktop {

        // 1800px
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}

*/
::selection {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic Extra Thin.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic Thin.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta-Cyrillic-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta-Cyrillic-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic ExtraBold.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta-Cyrillic-Black.otf") format("opentype");
  font-weight: 900;
}
body {
  font-family: "Averta CY";
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

.header__text {
  font-size: 1.4rem;
  color: #626CFF;
}
.header__text--adjust {
  max-width: 20rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__text--adjust {
    max-width: none;
  }
}
.header__text--adjust-lh {
  line-height: 1;
}
.header__text--purple {
  color: #6959C9;
}

.header__big-text {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (min-width: 24.3125em) {
  .header__big-text--adjust {
    width: 35rem;
  }
}

.potential__medium-bottom {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
  color: #2D036A;
  line-height: 1.3268;
}

.potential__small-text {
  display: inline;
  font-size: 1.5rem;
  font-weight: 300;
  color: #5D5A63;
  text-align: center;
  line-height: 1.055888;
}
.potential__small-text--adjust {
  width: 23rem;
}

.header__medium-text {
  font-size: 2rem;
  font-weight: 700;
}
.header__medium-text--purple {
  color: #6959C9;
}
.header__medium-text--adjust {
  max-width: 25rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__medium-text--adjust {
    max-width: 30rem;
  }
}
.header__medium-text--adjust-lh {
  line-height: 1;
}

.color--white {
  color: #fff;
}
.color--purple {
  display: block;
  color: #FF3471;
}
.header__btn:visited, .header__btn:link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: 600;
}
.header__btn--dark {
  border: 1px solid #fff;
  background: transparent;
  color: #FF3471;
}
.header__btn--light {
  background: #FF3471;
  border: 1px solid #FF3471;
  color: #fff;
  flex-shrink: 0;
}

.potential {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 22rem;
  padding: 0 5rem;
}
@media only screen and (min-width: 24.3125em) {
  .potential {
    grid-template-columns: repeat(2, 1fr);
  }
}
.potential-box {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-row-gap: 2rem;
}
.potential-figure-img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.potential-img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.potential-img--money {
  height: 31.3rem;
}

.container {
  width: 100%;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-row-gap: 1.5rem;
  align-items: start;
}
@media only screen and (min-width: 24.3125em) {
  .header {
    height: 90%;
  }
}
.header__background {
  display: grid;
  background: url("../img/header/BG.png") 70%/cover no-repeat;
  min-height: 100vh;
  padding: 2rem;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__background {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 90%);
    margin-bottom: 0;
  }
}
.header__figure-img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 0 0.3rem #ff3471);
}
.header__img {
  display: block;
  object-fit: contain;
}
.header__logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FF3471;
}
.header__top {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 1rem;
  justify-items: start;
  align-items: center;
}
.header__bottom {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 1rem;
}
.header__buttons {
  display: grid;
  grid-gap: 1rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__buttons {
    grid-template-columns: repeat(2, max-content);
  }
}
.header__info {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 3rem;
  padding: 0 1rem;
}
@media only screen and (min-width: 17.5em) {
  .header__info {
    grid-row-gap: 5rem;
  }
}
.header__info .header__info-box:nth-child(even) {
  justify-self: stretch;
}
@media only screen and (min-width: 17.5em) {
  .header__info .header__info-box:nth-child(even) {
    justify-self: end;
  }
}
.header__info-box {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  justify-items: start;
  grid-column-gap: 1rem;
}
.header__info-content {
  display: grid;
  grid-row-gap: 1rem;
  grid-auto-rows: min-content;
}

.header__indent {
  margin-bottom: 7rem;
}

.potential-indent {
  margin-bottom: 4rem;
}

/*# sourceMappingURL=style.css.map */
