/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :   Big desktop


$breakpoint argument choices:
- phone (bp-small)
- tab-port (bp-medium)
- tab-land (bp-large)
- big-desktop (bp-desktop)

ORDER: Base + typography > general layout + grid > page layout > components

1 em = 16px
*/
/*
//basic stuff for desktop first
@mixin respond($breakpoint) {

    @if $breakpoint ==bp-large {

        // 1200px
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if $breakpoint ==bp-medium {

        // 900px
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if $breakpoint ==bp-small {

        // 600px
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    @if $breakpoint ==bp-desktop {

        // 1800px
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}

*/
::selection {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic Extra Thin.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic Thin.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta-Cyrillic-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta-Cyrillic-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta Cyrillic ExtraBold.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "Averta CY";
  src: url("fonts/Averta-Cyrillic-Black.otf") format("opentype");
  font-weight: 900;
}
body {
  font-family: "Averta CY";
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

.header__text {
  font-size: 1.4rem;
  color: #626cff;
}
.header__text--adjust {
  max-width: 20rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__text--adjust {
    max-width: none;
  }
}
.header__text--adjust-lh {
  line-height: 1;
}
.header__text--purple {
  color: #6959c9;
}

.header__big-text {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (min-width: 24.3125em) {
  .header__big-text--adjust {
    width: 35rem;
  }
}

.potential__medium-bottom {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: #2d036a;
  line-height: 1.3268;
  text-align: center;
}
@media only screen and (min-width: 17.5em) {
  .potential__medium-bottom {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .potential__medium-bottom {
    font-size: 2.2rem;
  }
}

.potential__small-text {
  display: inline;
  font-size: 1.5rem;
  font-weight: 300;
  color: #5d5a63;
  text-align: center;
  line-height: 1.055888;
}
.potential__small-text--adjust {
  width: 23rem;
}

.header__medium-text {
  font-size: 2rem;
  font-weight: 700;
}
.header__medium-text--purple {
  color: #6959c9;
}
.header__medium-text--adjust {
  max-width: 25rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__medium-text--adjust {
    max-width: 30rem;
  }
}
.header__medium-text--adjust-lh {
  line-height: 1;
}

.daily-payouts__big-text {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
}
@media only screen and (min-width: 17.5em) {
  .daily-payouts__big-text {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .daily-payouts__big-text {
    font-size: 3.6rem;
  }
}

.daily-payouts__medium-text {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
}
@media only screen and (min-width: 17.5em) {
  .daily-payouts__medium-text {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .daily-payouts__medium-text {
    font-size: 2rem;
  }
}

.daily-payouts__bigger-text {
  color: #ff3471;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.03em;
}
@media only screen and (min-width: 17.5em) {
  .daily-payouts__bigger-text {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .daily-payouts__bigger-text {
    font-size: 4rem;
  }
}

.daily-payouts__small-text {
  color: #fff;
  font-size: 1;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}
@media only screen and (min-width: 17.5em) {
  .daily-payouts__small-text {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .daily-payouts__small-text {
    font-size: 1.5rem;
  }
}

.payments__big-text {
  color: #9f9f9f;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
}
@media only screen and (min-width: 17.5em) {
  .payments__big-text {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .payments__big-text {
    font-size: 2.6rem;
  }
}

.support__medium-text {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #2d036a;
}
@media only screen and (min-width: 17.5em) {
  .support__medium-text {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .support__medium-text {
    font-size: 2.2rem;
  }
}

.support__text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  color: #5d5a63;
}
@media only screen and (min-width: 17.5em) {
  .support__text {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .support__text {
    font-size: 1.5rem;
  }
}
.support__text--adjust {
  max-width: 70%;
}

.color--white {
  color: #fff;
}
.color--purple {
  display: block;
  color: #ff3471;
}
.color--pink {
  color: #2d036a;
}

.color--gray {
  color: #757575;
}

.mb-sm {
  margin-bottom: 2rem !important;
}

.header__btn:visited, .header__btn:link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 100px;
  font-size: 1.5rem;
  font-weight: 600;
}
.header__btn--dark {
  border: 1px solid #fff;
  background: transparent;
  color: #ff3471;
}
.header__btn--light {
  background: #ff3471;
  border: 1px solid #ff3471;
  color: #fff;
  flex-shrink: 0;
}

.support__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Averta CY";
  letter-spacing: 0.03em;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 33px;
  background: #ff3471;
  padding: 1rem 2rem;
}
@media only screen and (min-width: 17.5em) {
  .support__button {
    font-size: 1.45rem;
    padding: 1.5rem 2.5rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .support__button {
    font-size: 1.6rem;
    padding: 2rem 3rem;
  }
}

.daily-payouts {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 3rem;
  justify-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 5rem;
  background: #2d036a;
}
.daily-payouts-box {
  justify-self: stretch;
  display: grid;
  justify-items: center;
  align-items: start;
  padding: 1rem 0.5rem;
  border-radius: 20px;
  border: 1px solid #fff;
  max-width: 46rem;
}
.daily-payouts__figure-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3rem;
  position: relative;
  background: #2d036a;
  width: 100%;
  height: 15.5rem;
}
@media only screen and (min-width: 17.5em) {
  .daily-payouts__figure-img {
    margin-top: 6rem;
  }
}
@media only screen and (min-width: 24.3125em) {
  .daily-payouts__figure-img {
    margin-top: 9rem;
  }
}
.daily-payouts__img {
  position: absolute;
  top: 0;
  display: block;
  width: 95%;
  height: 150%;
  object-fit: contain;
}
@media only screen and (min-width: 17.5em) {
  .daily-payouts__img {
    top: -2.5rem;
    height: 176%;
  }
}
@media only screen and (min-width: 24.3125em) {
  .daily-payouts__img {
    height: 150%;
  }
}

.payments {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 2rem;
  justify-content: center;
  justify-items: center;
}
@media only screen and (min-width: 17.5em) {
  .payments {
    grid-row-gap: 2.5rem;
  }
}
.payments__figure-box {
  display: grid;
  grid-template-columns: min-content 13rem;
  grid-gap: 1rem;
  align-items: center;
}
@media only screen and (min-width: 17.5em) {
  .payments__figure-box {
    grid-template-columns: min-content max-content;
  }
}
.payments__img {
  display: block;
  object-fit: contain;
}

.potential {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 22rem;
}
@media only screen and (min-width: 17.5em) {
  .potential {
    padding: 0 1rem;
  }
}
.potential-box {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-row-gap: 2rem;
}
.potential-figure-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30rem;
}
.potential-img {
  display: block;
  max-width: 100%;
  width: 95%;
  object-fit: contain;
}
.potential-img--money {
  height: 15rem;
}
.potential-img--pyramid {
  height: 30rem;
}

.support {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 7rem;
  justify-items: center;
}
.support-box {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 3rem;
  justify-items: center;
}
.support__figure-box {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: min-content 13rem;
}
@media only screen and (min-width: 17.5em) {
  .support__figure-box {
    grid-template-columns: min-content max-content;
  }
}

.container {
  width: 100%;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-row-gap: 1.5rem;
  align-items: start;
}
@media only screen and (min-width: 24.3125em) {
  .header {
    height: 90%;
  }
}
.header__background {
  display: grid;
  background: url("../img/header/BG.png") 70%/cover no-repeat;
  min-height: 100vh;
  padding: 2rem;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__background {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 90%);
    margin-bottom: 0;
  }
}
.header__figure-img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 0 0.3rem #ff3471);
}
.header__img {
  display: block;
  object-fit: contain;
}
.header__logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff3471;
}
.header__top {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 1rem;
  justify-items: start;
  align-items: center;
}
.header__bottom {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 1rem;
}
.header__buttons {
  display: grid;
  grid-gap: 1rem;
}
@media only screen and (min-width: 24.3125em) {
  .header__buttons {
    grid-template-columns: repeat(2, max-content);
  }
}
.header__info {
  display: grid;
  grid-auto-rows: min-content;
  grid-row-gap: 3rem;
  padding: 0 1rem;
}
@media only screen and (min-width: 17.5em) {
  .header__info {
    grid-row-gap: 5rem;
  }
}
.header__info .header__info-box:nth-child(even) {
  justify-self: stretch;
}
@media only screen and (min-width: 17.5em) {
  .header__info .header__info-box:nth-child(even) {
    justify-self: end;
  }
}
.header__info-box {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  justify-items: start;
  grid-column-gap: 1rem;
}
.header__info-content {
  display: grid;
  grid-row-gap: 1rem;
  grid-auto-rows: min-content;
}

.header__indent {
  margin-bottom: 15rem;
}

.potential-indent {
  margin-bottom: 8rem;
}

.daily-payouts__background {
  margin-bottom: 12rem;
}
@media only screen and (min-width: 17.5em) {
  .daily-payouts__background {
    margin-bottom: 13.5rem;
  }
}

.payments-indent {
  margin-bottom: 8rem;
}

.support-indent {
  margin-bottom: 6rem;
}

/*# sourceMappingURL=style.css.map */
