$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #eaeaea;
$color-grey-light-2: #d8d8d8;
$color-grey-light-3: #5d5a63;

$color-black: #000;
$color-black-2: #222;
$color-white: #fff;
$color-gray-1: #757575;
$color-gray-2: #9f9f9f;
$color-gray-3: #9798a5;
$color-gray-4: #f5f5f5;

$color-purple: #ff3471;
$color-pink: #2d036a;
$color-blue: #460694;
$color-blue-dark: #090333;
$color-blue-light-1: #626cff;
$color-blue-light-2: #6959c9;
$color-blue-light-3: #2d036a;

// FONT FAMILY
$font-primary: 'Averta CY';
