$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #EAEAEA;
$color-grey-light-2: #D8D8D8;

$color-black: #000;
$color-white: #fff;

$color-purple: #FF3471;
$color-blue-light-1: #626CFF;
$color-blue-light-2: #6959C9;

// FONT FAMILY
$font-primary: 'Averta CY';
