.payments {
    display: grid;
    row-gap: 2rem;

    &__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        row-gap: 2rem;

        @include respond(bp-smaller) {
            row-gap: 2.5rem;
        }

        @include respond(bp-large) {
            grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
            padding: 0 2rem;
            column-gap: 1.5rem;
        }
    }

    &__figure-box {
        display: grid;
        grid-template-columns: min-content 13rem;
        grid-gap: 1rem;
        align-items: center;
        filter: invert(1);

        @include respond(bp-smaller) {
            grid-template-columns: min-content max-content;
        }
    }

    &--header {
        @include respond(bp-large) {
            grid-column: 1 / -1;
        }
    }

    &__img {
        display: block;
        object-fit: contain;
        filter: saturate(0);
    }
}
