.support {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 7rem;
    justify-items: center;

    &-box {
        display: grid;
        grid-auto-rows: min-content;
        grid-row-gap: 3rem;
        justify-items: center;
    }

    &__figure-box {
        display: grid;
        grid-column-gap: 1.2rem;
        grid-template-columns: min-content 13rem;
        align-items: center;

        @include respond(bp-smaller) {
            grid-template-columns: min-content max-content;
        }
    }

    &__img {
        display: block;
        max-width: 100%;
        object-fit: contain;
        filter: saturate(1.2);

        &-check-mark {
            max-width: none;
            width: 15px;
            margin-bottom: -2px;
        }
    }
}
