.support {
    display: grid;
    row-gap: 3rem;
    min-height: 45rem;

    @include respond(bp-large) {
        grid-template-columns: 4fr 3fr;
    }

    &-box {
        display: grid;
        grid-row-gap: 3rem;
        grid-auto-rows: min-content;
        justify-items: center;

        @include respond(bp-large) {
            justify-items: start;
            justify-content: center;
        }

        &--1 {
            @include respond(bp-large) {
                justify-content: center;

                & > *:not(:last-child) {
                    padding-left: 1rem;
                }
            }
        }

        &--2 {
            @include respond(bp-large) {
                justify-self: stretch;
                margin-right: 5rem;
            }

            @include respond(bp-large) {
                img {
                    width: 100%;
                }
            }
        }
    }

    &__figure-box {
        display: grid;
        grid-column-gap: 1.2rem;
        grid-template-columns: min-content 13rem;
        align-items: center;

        @include respond(bp-smaller) {
            grid-template-columns: min-content max-content;
        }
    }

    &__img {
        display: block;
        object-fit: contain;
        filter: saturate(1.2);

        &-check-mark {
            max-width: none;
            width: 15px;
            margin-bottom: -2px;
        }
    }
}
