.support {
    display: grid;
    gap: 7rem;
    justify-items: center;
    min-height: 45rem;

    @include respond(bp-large) {
        justify-content: center;
        grid-template-columns: 60vw 1fr;
        column-gap: 3rem;
    }

    &-box {
        display: grid;
        grid-row-gap: 3rem;
        justify-items: center;

        &--1 {
            @include respond(bp-large) {
                justify-items: start;

                & > *:not(:last-child) {
                    padding-left: 1rem;
                }
            }
        }
    }

    &__figure-box {
        display: grid;
        grid-column-gap: 1.2rem;
        grid-template-columns: min-content 13rem;
        align-items: center;

        @include respond(bp-smaller) {
            grid-template-columns: min-content max-content;
        }
    }

    &__img {
        display: block;
        max-width: 150%;
        object-fit: contain;
        filter: saturate(1.2);

        &-check-mark {
            max-width: none;
            width: 15px;
            margin-bottom: -2px;
        }
    }
}
