@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta Cyrillic Extra Thin.otf') format('opentype');

  font-weight: 100;
}

@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta Cyrillic Thin.otf') format('opentype');

  font-weight: 200;
}

@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta Cyrillic Light.otf') format('opentype');

  font-weight: 300;
}

@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta-Cyrillic-Regular.otf') format('opentype');

  font-weight: 400;
}

@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta Cyrillic SemiBold.otf') format('opentype');

  font-weight: 600;
}

@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta-Cyrillic-Bold.otf') format('opentype');

  font-weight: 700;
}

@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta Cyrillic ExtraBold.otf') format('opentype');

  font-weight: 800;
}

@font-face {
  font-family: 'Averta CY';
  src: url('fonts/Averta-Cyrillic-Black.otf') format('opentype');

  font-weight: 900;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $color-black;
}

.header__text {
  font-size: 1.4rem;
  color: $color-blue-light-1;

  &--adjust {
    max-width: 20rem;

    @include respond(bp-small) {
      max-width: none;
    }

    &-lh {
      line-height: 1;
    }
  }

  &--purple {
    color: $color-blue-light-2;
  }
}

.header__big-text {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;

  &--adjust {
    @include respond(bp-small) {
      width: 35rem;
    }
  }
}

.daily-payouts__big-text {
  text-transform: uppercase;
  color: $color-white;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;

  @include respond(bp-smaller) {
    font-size: 3rem;
  }

  @include respond(bp-small) {
    font-size: 3.6rem;
  }
}

.daily-payouts__medium-text {
  color: $color-white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;

  @include respond(bp-smaller) {
    font-size: 1.5rem;
  }

  @include respond(bp-small) {
    font-size: 2rem;
  }
}

.daily-payouts__bigger-text {
  color: $color-purple;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.03em;

  @include respond(bp-smaller) {
    font-size: 3rem;
  }

  @include respond(bp-small) {
    font-size: 4rem;
  }
}

.daily-payouts__small-text {
  color: $color-white;
  font-size: 1;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;

  @include respond(bp-smaller) {
    font-size: 1.2rem;
  }

  @include respond(bp-small) {
    font-size: 1.5rem;
  }
}

.potential__medium-bottom {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-blue-light-3;
  line-height: 1.3268;
  text-align: center;

  @include respond(bp-smaller) {
    font-size: 2rem;
  }

  @include respond(bp-small) {
    font-size: 2.2rem;
  }
}

.potential__small-text {
  display: inline;
  font-size: 1.5rem;
  font-weight: 300;
  color: $color-grey-light-3;
  text-align: center;
  line-height: 1.055888;

  &--adjust {
    width: 23rem;
  }
}

.header__medium-text {
  font-size: 2rem;
  font-weight: 700;

  &--purple {
    color: $color-blue-light-2;
  }

  &--adjust {
    max-width: 25rem;

    @include respond(bp-small) {
      max-width: 30rem;
    }

    &-lh {
      line-height: 1;
    }
  }
}

.color--white {
  color: $color-white;

  &--adjust {
    @include respond(bp-small) {
    }
  }
}

.color--purple {
  display: block;
  color: $color-purple;

  &--adjust {
    @include respond(bp-small) {
    }
  }
}

// https://stackoverflow.com/questions/3245141/using-otf-fonts-on-web-browsers
