.header__indent {
  margin-bottom: 15rem;
}

.potential-indent {
  margin-bottom: 8rem;
}

.daily-payouts__background {
  margin-bottom: 12rem;

  @include respond(bp-smaller) {
    margin-bottom: 13.5rem;
  }
}

.payments-indent {
  margin-bottom: 8rem;
}

.support-indent {
  margin-bottom: 6rem;
}
