.header__indent {
    position: relative;
    display: flex;
    justify-content: center;

    margin: 5.5rem 0;
    margin-top: 3.5rem;

    @include respond(bp-medium) {
        margin-bottom: 0;
        justify-content: flex-start;
        grid-row: 3;
    }

    &::after {
        @include respond(bp-smaller) {
            content: '';
            position: absolute;
            top: -150%;
            left: 0;
            display: block;
            width: 100%;
            height: 200%;
            background-image: url('../../img/header/dashes.png');
            background-repeat: no-repeat;
            background-position: bottom 0 right -3rem;
            background-size: cover;

            transform-origin: center;
            transform: translate(0, 50%);
            z-index: -1;
        }

        @include respond(bp-medium) {
            background: none;
        }
    }
}

.daily-payouts__background {
    margin-bottom: 12rem;
    background: $color-pink;

    @include respond(bp-smaller) {
        margin-bottom: 13.5rem;
    }
}

.payments-indent {
    margin-bottom: 8rem;
}

.support-indent {
    margin-bottom: 6rem;
}

.admin-stuff-background {
    background-image: url('../img/admin-stuff/admin-panel.png');
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: cover;

    height: 100vh;
    padding-top: 3rem;
}

.footer-background {
    padding: 3rem 1rem;
    background-color: $color-pink;
}

// OBSERVE
.element--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.transition-reveal {
    transition: 1s all;
}
